html {
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #1a2f41;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar__left {
    padding: 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: rgb(128, 206, 206);
  }
  
  .navbar__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }
  
  .link {
    display: flex;
    gap: 40px;
  }
  
  .navbar__right-item {
    text-decoration: none;
    color: rgb(128, 206, 206);
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .navbar__right-item:hover {
    color: #fff;
  }
  
  .menu {
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: none;
  }
  
  .navbar__links-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1a2f41;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .navbar__links-mobile .navbar__right-item {
    padding: 10px;
    font-size: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .navbar__right {
      display: none;
    }
  
    .menu {
      display: block;
      padding: 10px;
    }
  
    .navbar__links-mobile {
      display: flex;
    }
  }
  

  .navbar__left .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo-text {
    color: #333;
    transition: color 0.3s ease;
  }
  
  .logo-text:hover {
    color: #ff6347; /* Change to your desired highlight color */
  }
  
  .highlight {
    color: #ff6347;
    animation: highlightAnimation 1.5s ease-in-out infinite;
  }
  
  @keyframes highlightAnimation {
    0% {
      color: #ff6347;
    }
    50% {
      color: #ff7f50;
    }
    100% {
      color: #ff6347;
    }
  }
  