@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Kaushan+Script&family=Permanent+Marker&family=Rajdhani:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Diphylleia&display=swap');

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}